.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

ul {
  padding: unset;
  list-style: none; 
}

li {
  display: flex;
  font-size: xx-large;
  font-weight: bolder;
  color: #93b7cc;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: 0.3s;
}

li.cityItem:hover {
  width: 100%;
  background-color: #194e74;
  padding: 3px;
  border-radius: 5px;
  cursor:pointer;
  letter-spacing: 1.5px;
}

.addButton {
  color: #00ff40;
  transition: 0.3s;
}

.addButton:hover {
  background-color: #194e74;
  padding: 10px;
  border-radius: 5px;
  cursor:pointer;
}

a {
  color: transparent;
}

